<!DOCTYPE>
<html>
<head>
     <!-- Title and Meta tags -->
    <title>YogaWithVicky - Yoga School</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="p:domain_verify" content="7c0e513ab2fd662a30e73c07a0a3ba0e" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
<!-- Custom MRT CSS -->
<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/application.css">

    <!-- Favicons -->

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">


    <!-- Fonts -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,200,400italic,600,600italic' rel='stylesheet' type='text/css'>

    <!-- Javascript -->

    <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
    <![endif]-->

   <script src="js/bootstrap.min.js"></script>
   <script src="assets/js/jquery.min.js"></script>

</head>
<body data-spy="scroll" data-target="#main-nav" data-offset="400">
    <!-- Navbar -->
    <div id="main-nav"> 
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="fluid-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#home" class="navbar-brand" class="smoothScroll">YogaWithVicky</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="hover"><a href="#about" class="scrollto">About</a></li>
            <li class="hover"><a href="#gallery">Gallery</a></li>
            <li class="hover"><a href="#skills">What i do</a></li>
            <li class="hover"><a href="#">Blog</a></li>
            <li class="hover"><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>  
    </div>
<!-- NAVBAR End -->
<!-- Social -->
<div>
<header>
<!-- COVER/HEADER-image -->
<section id="home" class="header-image">

<!-- HEADER Message-->
<div class="jumbotron">
<div class="container">
<div class="row">
<div class="col-lg-6 col-lg-offset-3">
<h1 id="startchange" style="font-size: 63px;">Welcome to YogaWithVicky.</h1>
<h2>I make people fall in love with Yoga. It's my passion.</h2>
<p style="font-size: 32px;">Have a look around and see what i do!</p>
</div>
</div>
</div>
</div>
</section>

<header>

<!-- About -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
    <div class="col-sm-12">
    <h1>My Name is Vicky and i'm a yoga teacher.</h1>
    <img class="vs-photo" src="<%= asset_path 'about.jpg' %>" alt="Photo of Vicky">
    <p class="bio">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
    </div>
<div class="container">    
<div class="about-quote">
  <blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </blockquote>
  <cite> Someone who knows about yoga.</cite>
  </div>
</div>
  </section> <!-- About end -->


<!-- Gallery -->
<section id="gallery" class="gallery">
<div class="container">
<div class="row">
<h1>Gallery</h1>
<table>
  <tr>
  <td><img src="#"></td>
  <td><img src="#"></td> 
  <td><img src="#"></td> 
  <td><img src="#"></td>    
  </tr>
</table>
</div>
</div>

<!-- QuoteCarousel -->
<div class="container">
  <div class="row">
    <div class='col-md-offset-2 col-md-8 text-center'>
    <h2>What people say about my yoga</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">
        
          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="http://wp-desk.com/lovinflat/images/persons/person_1.png" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="http://wp-desk.com/lovinflat/images/persons/person_2.png" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="http://wp-desk.com/lovinflat/images/persons/person_3.png" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>                          
    </div>
  </div>
  </div>
</section>

<!-- Work/Skills -->

<section id="skills" class="skills content"> 
<div class="container">
<div class="row">
<div class="col-sm-12">
    <h1>Some things i know about</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>
  </div>

<div class="container">
<div class="row">
<div class="col-lg-4">
		<h2>Yoga</h2>
		<hr>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>
	<div class="col-lg-4">
		<h2>Meditation</h2>
		<hr>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>
	<div class="col-lg-4">
		<h2>Spiritualism</h2>
		<hr>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>
</div>
</div>
</div>
</section>


<!-- Contact -->
<section id="contact" class="clearfix">
<div class="container">
<div class="row">
<div class="col-sm-12 col-lg-12 ">
			<h1>Contact</h1>
			<div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</div>
</div>
</div>
    </div>

    <!-- Contact Photo -->
    <div class="container-fluid">
    <div class="row">
    <img class="vs-photo" src="<%= asset_path 'about.jpg' %>" alt="Photo of Vicky">
    
    <div class="col-xs-3">
          <h3>Say hi</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div><!-- col -->

<div class="col-xs-3">
          <h3>Contact Information</h3>
          <p><span class="icon icon-home"></span> Some Address <br/>
            <span class="icon icon-phone"></span> + 00000<br/>
            <span class="icon icon-mobile"></span> + 000000 <br/>
            <span class="icon icon-envelop"></span> <a href="#"> @ </a> <br/>
            <span class="icon icon-twitter"></span> <a href="#"> @twitter </a> <br/>
            <span class="icon icon-facebook"></span> <a href="#"> FB </a> <br/>
          </p>
        </div><!-- col -->
    </div>
    </div>

</section>
</body>
</html>
