/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
 @import url(https://fonts.googleapis.com/css?family=Titillium+Web);
 @import url("//fonts.googleapis.com/css?family=Titillium+Web");
 @import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
 @import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

/*----------------------
---Main Doc Styles---
------------------------*/

body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

section {
	padding-top: 60px;
	padding-bottom: 60px;
/*	height: 620px;*/

}

h1, h2, h3, h4, h5,h6 {
	font-family:'Roboto Slab', sans-serif;
    font-weight: 700;
    color: #000;
    margin:0 0 20px;
}

p{
  font-family: 'Titillium Web', sans-serif;
  font-size:16px;
  line-height: 24px;
  font-weight: 300px;
  margin: 20px;
}

section h1 {     
	font-size:48px;
    font-weight:600;
    letter-spacing:0.05em;
    margin: 50 auto;
}

section h2 {
	letter-spacing:0.05em;
}



/*----------------------
---General Styles---
------------------------*/

/*Header/Landing Styles*/

.header-image {
	background-image: url("http://res.cloudinary.com/yogawithvicky/image/upload/e_auto_color/v1454466863/bg-img-compressor_m83rvj.jpg");
	background-size: 100%;
  	background-attachment: fixed;
  	display: block;
  	margin: 0px 0px 0px 0px;  
  	width: 100%;
  	min-height: 740px;
    background-repeat: no-repeat;

}

.jumbotron {
	background-color: transparent;
	color: #000;
	text-align: center;
	position: relative;
	top: 180px;
	/*left: 100px;*/
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.jumbotron p {
    font-size: 32px;
    font-weight: 400;
    opacity: 0;
}

/*General styles*/


.content {
  	position: relative;
  	text-align:center; 
    width: 100%;

}

.vs-photo { 
  width: 450px;
  height: auto;
  margin: 0 auto;
  display: inline-block;
}



/*-----------------------
-----Section Styles------
------------------------*/


/*About Section*/

#about {
  background-color: #fff;
  width: 100%;
  position: relative;
  padding: 0 auto;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

.bio {
	position: relative;
	height: auto;
	width: 600px;
	margin: 0 auto;
    display: inline-block;
	float: right;
}

.about-quote {
  position: relative;
  float: right;
    text-align: center;
    margin-top: 30px;
}

.about-quote blockquote {
    font-size: 20px;
    font-weight: 400;
    font-style: none;
    margin-bottom: 30px;
}
.about-quote cite {
    font-size: 14px;
    font-style: normal;
}
.about img {
  position: relative;
  padding: 0 auto;
    margin-bottom: 40px;
}

/*Gallery Section*/

.gallery {
  min-height: 520px;
  background-color: #EEE;
  margin-top: 0;
}

#gallery h1 {
  color: #000;
  text-align: center;
  position: relative;
}

#gallery p {
	text-align: center;

}

table, td {
	background-color: 00ff00;
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 0 auto;
	border: none;
}

#gallery img {
	width: 100%;
	height: 200px;
	padding: 20px;
}


/*Carousel*/
#quote-carousel 
{
  padding: 0 auto;
  margin-top: 10px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #000;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 10px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

/*Expertise Section*/

.skills {
    height: auto;
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;

}

.col-lg-4 {
	text-align: center;
}

.skills_content {
	h2 {
		font-size: 1.1rem;
		text-transform: uppercase;
	}
	h3 {
		font-size: 1.35em;
		font-weight: 400;
		margin-bottom: .5em;
	}
}

p {
	margin: 0 0 .75em 0;
}

/*Contact Section Styles*/

#contact {
  background-color: #EEE;
}

#contact h1 {
  color: #000;
  text-align: center;
  position: relative;
    
}
#contact .vs-photo {
	height: 100%;
  width: 350px;
	margin-top: 30px;
  	padding-left: 15px;
}

#contact .col-md-4 {
  position: relative;
  text-align: center;
  padding-right: 15px;
  margin-top: 30px;
}




.lead {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 45px;
    margin-top: 45px;
    margin-bottom: 45px;
    color: #000;
}


/*Footer Section Styles*/

.copyright {
  background-color: #fff;
	padding: 2em;
	float: right;
	font-size: .9em;
	margin: 0 auto;
}

#copyright-footer {
  height: 50px !important;
  /*overflow: hidden;*/
}

/*Social Links*/

.social-wrapper {
  text-align: center;
}

.social-inner {
  margin: 20px auto;
}

/*Footer*/

